global
    log stdout format raw local0
    maxconn 4096

defaults
    log global
    mode http
    option httplog
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

#frontend http-in
#    bind *:80
#    default_backend servers

#backend servers
#    balance roundrobin
#    http-check expect status 200
#    server-template srv 3 _web._tcp.service.consul resolvers consul resolve-prefer ipv4 check

# Habilita a página de stats do HAProxy
frontend stats
    bind *:8080  # Porta onde a página de status estará disponível
    stats enable
    stats uri /stats  # URI para acessar a página de status
    stats refresh 10s  # Atualiza a página a cada 10 segundos
    stats auth admin:admin  # Autenticação básica (opcional)

#resolvers consul
#    nameserver consul 127.0.0.1:8600  # Use o IP do contêiner do Consul
#    resolve_retries 3
#    timeout resolve 5s
#    timeout retry   1s
#    hold other      10s
#    hold refused    10s
#    hold nx         10s
#    hold timeout    10s
#    hold valid      10s

frontend FRONT-ATZ-6012
    bind *:6012
	mode tcp
    # acl db_down         nbsrv(ValidaDB-PROD) eq 0
    # acl app_down        nbsrv(BACK-ATZ-6012) eq 0
    # acl offline_up      nbsrv(base-offline) ge 1

    default_backend BACK-ATZ-6012
    # use_backend base-offline if offline_up db_down || offline_up app_down

backend BACK-ATZ-6012
    option log-health-checks
    mode tcp
    balance roundrobin
    retries 3
    option redispatch
    option log-health-checks
    option tcp-check
    timeout check 2s
    tcp-check send "01510100A238040120C000080000000000000000380000072009060000000109070007200110510001376048913022070981=000000000000000000000000000000000000140001700888844FD0"
    tcp-check send "01510100A238040120C000080000000000000000380000072009060000000109070007200110510001376048913023467937=000000000000000000000000000000000000140001700888844FD0"
    tcp-check expect rstring "SUSPENSO|TRANSACAO NAO AUTORIZADA|SALDO DISPONIVEL"
    #tcp-check expect rstring "NUMERO DO CARTAO INVALIDO"
    # tcp-check send "01510100A238040120C000080000000000000000380000072009060000000109070007200110510001376048913023467936=000000000000000000000000000000000000140001700888844FD0" 
    # tcp-check expect string "SALDO DISPONIVEL"
    	server DV78-6012 10.50.1.78:6012 check inter 30s rise 1 fall 2
        server DV76-6012 10.50.1.76:6012 check inter 30s rise 1 fall 2
        server AWS27-6012 10.40.1.27:6012 check inter 30s rise 1 fall 2
        server AWS78-6012 10.40.1.78:6012 check inter 30s rise 1 fall 2
        server AWS126-6012 10.40.1.126:6012 check inter 30s rise 1 fall 2
